<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>Signup</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form class="form-signin" th:action="@{/signup}" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Inscreva-se aqui</h1>
                <div th:if="${param.error}">
                    Email e senha inválidos.
                </div>
                <div th:if="${param.logout}">
                    Você foi desconectado.
                </div>
                <label for="inputUsername" class="sr-only">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" />
                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
                <label for="inputName" class="sr-only">Nome</label>
                <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required="" />
                <label for="inputLastName" class="sr-only">Sobrenome</label>
                <input type="text" name="lastName" id="inputLastName" class="form-control" placeholder="LastName" required="" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Inscreva-se agora</button>
            </form>
            <form class="form-signin" th:action="@{/login}" method="get">
                <button class="btn btn-md btn-success btn-block" type="Submit">Faça login em sua conta</button>
            </form>
        </div>
    </body>
</html>